<div class="section section-md pt-0">
    <div class="container">
      <div class="row justify-content-center mt-6">
        <div class="col-md-12 col-lg-10">
          <div class="timeline timeline-one">
            <div class="timeline-item text-left">
              <div class="card border-light shadow-inset p-3">
                <div class="card-body shadow-soft rounded border border-light p-3">
                  <span class="text-gray">Year {{currentDate.getFullYear()}}</span>
                  <h3 class="h4 my-2">Present</h3>
                  <p>
                    Now over seven years old, Bootstrap is an established and
                    widely-used HTML, CSS, and JavaScript framework.
                  </p>
                  <!-- <img src="../../assets/rajesh ramoju.png" alt="signature" width="40%" /> -->
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="card border-light shadow-inset p-3">
                <div class="card-body shadow-soft rounded border border-light p-3">
                  <span class="text-gray">2018-{{currentDate.getFullYear()}}</span>
                  <h3 class="h4 my-2">What i learned in my years</h3>
                  <div class="my-4">
                    <span class="icon icon-sm  mr-2">
                      <fa-icon [icon]="faAngular"></fa-icon>
                    </span>
                    <span class="icon icon-sm  mr-2">
                      <fa-icon [icon]="faReact"></fa-icon>
                    </span>
                    <span class="icon icon-sm  mr-2">
                      <fa-icon [icon]="faVue"></fa-icon>
                    </span>
                    <span class="icon icon-sm  mr-2">
                      <fa-icon [icon]="faJs"></fa-icon>
                    </span>
                  </div>
                  <p>
                    Bootstrap. Build responsive, mobile-first projects on the
                    web with the world's most popular front-end component
                    library.
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="timeline-item text-left">
              <div class="card border-light shadow-inset p-3">
                <div
                  class="card-body bg-primary shadow-soft rounded border border-light p-3"
                >
                  <span class="text-gray">2015-2018</span>
                  <h3 class="h4 my-2">University</h3>
                  <img
                    src="https://demo.themesberg.com/neumorphism-ui-pro/assets/img/clients/northwestern.svg"
                    class="image-xs my-4"
                    alt="Northwestern logo"
                  />
                  <p class="font-weight-bolder">BS in Computer Science</p>
                  <p>
                    The Bachelor of Computer Science is a type of bachelor's
                    degree, usually awarded after three or four years of
                    collegiate study in computer science.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="card border-light shadow-inset p-3">
                <div
                  class="card-body bg-primary shadow-soft rounded border border-light p-3"
                >
                  <span class="text-gray">2010-2015</span>
                  <h3 class="h4 my-2">High school</h3>
                  <img
                    src="https://demo.themesberg.com/neumorphism-ui-pro/assets/img/clients/business-school.svg"
                    class="image-xs my-4"
                    alt="School logo"
                  />
                  <p>
                    High school is a term primarily used in the United States
                    and Canada to describe the level of education students
                    receive from 13 to 18 years old, although there is some
                    variation.
                  </p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg-primary-app">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center mb-4 mb-lg-6">
          <h2 class="display-2 font-weight-bold">Experience</h2>
          <p class="lead">
            And if it’s not listed here, I learn incredibly quickly
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="card bg-white border-light">
            <div class="border-bottom px-4 py-5">
              <div class="row align-items-center">
                <div class="col-12 col-md-3 pb-3 pb-md-0">
                  <h2 class="h5">Appiness Interactive Pvt. Ltd</h2>
                </div>
                <div class="col-md-5 pb-2 pb-md-0">
                  <h3 class="h5 mb-3">ACE- Frontend Developer</h3>
                  <p class="mb-0">
                    Collaborate with creative and development teams on the
                    execution of ideas.
                  </p>
                </div>
                <div class="col-md-4 text-md-right">
                  <span class="badge badge_new_color">2019 - Present</span>
                </div>
              </div>
            </div>

            <div class="px-4 py-5">
              <div class="row align-items-center">
                <div class="col-12 col-md-3 pb-3 pb-md-0">
                  <h2 class="h5">Bluefrog Mobile Technologies</h2>
                </div>
                <div class="col-md-5 pb-2 pb-md-0">
                  <h3 class="h5 mb-3">UI Developer</h3>
                  <p class="mb-0">
                    Collaborate with creative and development teams on the
                    execution of ideas.
                  </p>
                </div>
                <div class="col-md-4 text-md-right">
                  <span class="badge badge_new_color">2018 - 2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-md bg-soft">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <ul
            class="list-group list-group-transparent list-group-flush list-group-borderless shadow-soft rounded border border-light mb-0">
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                    class="fas fa-globe-europe"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Language:</span>
                  <div class="text-gray mt-2">
                    Telugu, English
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                    class="fas fa-birthday-cake"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Birthday:</span>
                  <div class="text-gray mt-2">Jan 24, 1997</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
     
        <div class="col-md-6 col-lg-4">
          <ul class="list-group list-group-transparent list-group-flush shadow-soft rounded border border-light mb-0">
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                    class="far fa-paper-plane"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Email:</span>
                  <div class="text-gray mt-2">
                    <a href="#"><span class="__cf_email__"
                        >rajeshramoju1997@gmail.com</span></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span class="fas fa-mobile-alt"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Phone number:</span>
                  <div class="text-gray mt-2">+91 91001 29109</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <ul class="list-group list-group-transparent list-group-flush shadow-soft rounded border border-light mb-0">
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span
                    class="far fa-paper-plane"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Location</span>
                  <div class="text-gray mt-2">
                    <a><span class="__cf_email__"
                        >Andhra pradesh , India</span></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item py-4">
              <div class="media">
                <span class="icon icon-xs mr-3 d-none d-xl-inline lh-200"><span class="fas fa-mobile-alt"></span></span>
                <div class="media-body d-block">
                  <span class="h5">Whatsapp</span>
                  <div class="text-gray mt-2">+91 91001 29109</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>