<div class="container py-5">
  <div
    class="row align-items-center justify-content-center justify-content-lg-between"
  >
    <div class="col-12 col-sm-9 col-md-8 col-lg-5 mb-5 mb-lg-0">
      <img
        class="img-fluid"
        src="../../assets/undraw_Maintenance_re_59vn.svg"
        alt="boy illustration"
      />
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="text-center text-lg-left">
        <h4 class="mt-4 text-gray">woof!</h4>
        <h1 class="display-3">
          We're undergoing a bit of scheduled maintenance
        </h1>
        <p class="lead my-4">
          Sorry for the inconvenience but we’re performing some maintenance at
          the moment.
        </p>
        <a class="btn btn-primary animate-hover" routerLink="/intro"><fa-icon class="mr-3 pl-2 animate-left-3" [icon]="faLeftArrow"></fa-icon>Go back home</a>
      </div>
    </div>
  </div>
</div>
